*{
  margin: 0px;
  padding: 0px;
}
body{
  background:linear-gradient(to left, 
  rgb(243, 243, 243) 50%,
  rgb(56, 55, 53) 50%) ;
}
.Nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  background-color: gray;
  margin: 10px;
}
.nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  font-size: 13px;
  color:rgb(41, 39, 37) ;
  padding: 0 15px;
}
.nav-list li{
  display: inline;
}
.nav-list a{
  text-decoration: none;
  color:rgb(41, 39, 37);
  padding: 5px;
}
.nav-list a:hover{
  color: white;
}
.first-area{
  margin: 15px;
  background-color: gray;
  height: 60%;
}
.Content-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.05fr 0.05fr 0.05fr;
  grid-template-areas: 
  "img h1"
  "img h5"
  "img p"
  "img button" ;
  margin: 10px;
  background-color: gray;
}
.Content-area img{
  width: 650px;
  height: 550px;
  grid-area: img;
}
h1{
  position: relative;
  grid-area: h1;
  font-size: 70px;
  color: rgb(214, 214, 214);
  height: 50%;
  width: 50%;
  left:-105px;
}
.Content-area h5{
  grid-area: h5;
}
p{
  
  grid-area: p;
}
.enquire{
  width: 185px;
  margin: 15px;
  border: 1px solid white;
  border-radius: 18px;
  background-color: rgb(194, 194, 194);
  padding: 0 10px;
  font-size: 15px;
  font-weight: 550;
  height: 25px;
  text-transform: uppercase;
  grid-area: button;
}
.enquire:hover{
  color: rgb(87, 87, 87);
}
.Sectionpicture{
  background-color: white;
  color: rgb(105, 105, 105);
  
}
.secondline{
  display: flex;
  justify-content: space-between;
  
}
h4{
  margin: 15px;
}
.view{
  color: rgb(92, 92, 92);
  width: 185px;
  margin: 15px;
  border: 1px solid white;
  border-radius: 18px;
  background-color: rgb(194, 194, 194);
  padding: 0 10px;
  font-size: 15px;
}
.view:hover{
  color: rgb(0, 0, 0);
}
.bottom-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-template-areas: 
  "img1 img2 img3 img4"
  "p1 p2 p3 p4";
  margin: 15px;
  gap: 1rem;
}
.img1{
  grid-area: img1;
  border-right: 1px;
  color: grey;
}
.img2{
  grid-area: img2;
}
.img3{
  grid-area: img3;
}
.img4{

  grid-area: img4;
}
.bottom-nav p1{
 text-align: center;
 grid-area: p1;
}
.bottom-nav p2{
  text-align: center;
  grid-area: p2;
}
.bottom-nav p3{
  text-align: center;
  grid-area: p3;
}
.bottom-nav p4{
  text-align: center;
  grid-area: p4;
}
.bottom-nav img{
  width: 100%;
  height: 100%;
}
@media (max-width: 950px) {
  .Nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Content-area{
    /* display: grid;
    grid-template-rows: 0.05fr 0.02fr 0.5fr 1fr 0.2fr;
    grid-template-areas: 
    "h1"
    "img"
    "p"
    "button"; */
    display: flex;
    flex-direction: column;
  }
  .Content-area h1{
    display: flex;
    left: 1rem;
  }
  .Content-area img{
    width: 100%;
    height: 100%;
  }
  .Sectionpicture{
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    width: auto;
    height: auto;
  }


}