*{
  margin: 0px;
  padding: 0px;
}
body{
  background:linear-gradient(to left, 
  rgb(243, 243, 243) 50%,
  rgb(56, 55, 53) 50%) ;
}
.backlayout{
  height: 100vh;
  background-image: url("background.png");
}
.Nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background-color: yellow;
}
.Logo{
 
}
.nav-list{
  display: flex;
  justify-content: end;
  font-size: 15px;
  color:rgb(41, 39, 37) ;
}
.nav-list li{
  display: inline;
}
.nav-list a{
  text-decoration: none;
  color:rgb(41, 39, 37);
  padding: 15px;
}
.first-area{
  height: 60%;
}